{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.gallery_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.gallery_list'|trans }}</h1>
    {% if pagination is defined and pagination.items|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <a href="{{ url('gallery_create') }}" title="{{ 'action.create'|trans }}">
            {{ 'action.create'|trans }}
        </a>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label.id'|trans, 'gallery.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.created_at'|trans, 'gallery.createdAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.updated_at'|trans, 'gallery.updatedAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.title'|trans, 'gallery.title') }}</th>
{#                <th>{{ knp_pagination_sortable(pagination, 'label_gallery'|trans, 'gallery.title') }}</th>#}
{#                <th>{{ 'label.gallery'|trans }}</th>#}
                <th>{{ 'label.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for gallery in pagination.items %}
                <tr>
                    <td>{{ gallery.id }}</td>
{#                    <td>    <img src="{{ gallery/icons/gallery.id }}.png" alt="{{ gallery.id }}">         </td>#}
                    <td>{{ gallery.createdAt|format_date('long') }}</td>
                    <td>{{ gallery.updatedAt|format_date('long') }}</td>
                    <td>{{ gallery.title }}</td>
{#                    <td>{{ photo.gallery.title }}</td>#}
                    <td>
                        <a href="{{ url('gallery_show', {id: gallery.id}) }}" title="{{ 'action.show'|trans }}">
                            {{ 'action.show'|trans }}
                        </a>
                        <a href="{{ url('gallery_edit', {id: gallery.id}) }}" title="{{ 'action.edit'|trans }}">
                            {{ 'action.edit'|trans }}
                        </a>
                        <a href="{{ url('gallery_delete', {id: gallery.id}) }}" title="{{ 'action.delete'|trans }}">
                            {{ 'action.delete'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
{#            {{ 'message.empty_list'|trans }}#}

            {# ... #}
            {% include 'default/_single_alert_message.html.twig' with {
                type: 'warning',
                message: 'message.empty_list'|trans
            } %}
            {# ... #}
        </p>
    {% endif %}
{% endblock %}