{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.photo_details'|trans({'%id%': photo.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.photo_details'|trans({'%id%': photo.id|default('')}) }}</h1>
    {% if photo is defined and photo|length %}

        <img src="{{ asset(photos_directory ~ photo.filename) }}" alt="photo">

        <dl class="dl-horizontal">
            <dt>{{ 'label.id'|trans }}</dt>
            <dd>{{ photo.id }}</dd>
            <dt>{{ 'label.created_at'|trans }}</dt>
            <dd>{{ photo.createdAt|format_date('long') }}</dd>
            <dt>{{ 'label.updated_at'|trans }}</dt>
            <dd>{{ photo.updatedAt|format_date('long') }}</dd>
            <dt>{{ 'label.title'|trans }}</dt>
            <dd>{{  photo.title }}</dd>
            {# ... #}
            <dt>{{ 'label_description'|trans }}</dt>
            <dd>{{ photo.description|markdown_to_html }}</dd>
            {# ... #}
            <dt>{{ 'label.gallery'|trans }}</dt>
            <dd><a href="{{ url('gallery_show', {id: photo.gallery.id}) }}" title="{{ 'action.show'|trans }}"> {{  photo.gallery.title }}</dd>
        </dl>
        <p>
            <a href="{{ url('photo_index') }}" title="{{ 'action.back_to_list'|trans }}">
                {{ 'action.back_to_list'|trans }}
            </a>
        </p>
    {% else %}
        <p>
            {{ 'message.record_not_found'|trans }}
        </p>
    {% endif %}
    {% block comment %} {% endblock %}
    {% include 'comment/index.html.twig' %}
{% endblock %}